*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background-color: black;
    overflow: hidden;
}
.circle{
    position: absolute;
    width: 400px;
    height: 400px;
    background:linear-gradient(#ffffff,#ffffff) 
    ;
    border-radius: 50%;
    animation: animate 20s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(1000px);
    }
}
.glass{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass .layer{
    position: relative;
    width: 30px;
    height: 100vh;
    margin: 1px;
    backdrop-filter: blur(30px);
}
.glass .layer:nth-child(4n+1){
    backdrop-filter: blur(10);
}

.glass .layer:nth-child(4n+2){
    backdrop-filter: blur(10px);
}
.glass .layer:nth-child(4n+2){
    backdrop-filter: blur(50);
}
.glass .layer:nth-child(4n+3){
    backdrop-filter: blur(30);
}
.glass .layer:nth-child(4n+4){
    backdrop-filter: blur(13);
}